
.low-poly-heart-bg {
  position: fixed;
  z-index: -10;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.low-poly-heart-bg.visible {
  opacity: 1;
}

.low-poly-heart-bg svg {
  position: fixed;
  z-index: 200;
  height: 90%;
  width: 100%;
  left: 0;
  top: 5%;
}

.st0{display:none;}
.st1{fill:#B5C2B7;}
.st2{fill:#869D92;}
.st3{fill:#E0E5E1;}
.st4{fill:#4D665A;}
.st5{fill:#A9B5AA;}
.st6{fill:#748C7D;}
.st7{fill:#C5CEC8;}
.st8{fill:#C5CEC8;}
.st9{fill:#E0E5E1;}
.st10{fill:#6B7E71;}
.st11{fill:#3C5045;}
.st12{fill:#B7C4BA;}
.st13{fill:#C7D1CA;}
.st14{fill:#6C8176;}
.st15{fill:#D1D9D2;}
.st16{fill:#65786C;}
.st17{fill:#D9E0DA;}
.st18{fill:#CFCBCA;}
.st19{fill:transparent;}
.st20{fill:#BCC7BE;}
.st21{fill:#E3E8E4;}
.st22{fill:#5C7367;}
.st23{fill:#E2E7E3;}
.st24{fill:#3A4C40;}
.st25{fill:#4A5F51;}
.st26{fill:#485C4F;}
.st27{fill:#4B5E52;}
.st28{fill:#1E2B24;}
.st29{fill:#4D5D4F;}
.st30{fill:#1E2B24;}
.st31{fill:#4E6053;}
.st32{fill:#788A7D;}
.st33{fill:#8A9C8F;}
.st34{fill:#94A398;}
.st35{fill:#3E5247;}
.st36{fill:#54695D;}
.st37{fill:#4C5C52;}
.st38{fill:#334238;}
.st39{fill:#394A3F;}
.st40{fill:#475A4E;}
.st41{fill:#5C7063;}
.st42{fill:#52655A;}
.st43{fill:#596C5F;}
.st44{fill:#829488;}
.st45{fill:#43554A;}
.st46{fill:#85968B;}
.st47{fill:#76887D;}
.st48{fill:#98A79D;}
.st49{fill:#819287;}
.st50{fill:#7A8C81;}
.st51{fill:#DDE3DE;}
.st52{fill:#BDC8BF;}
.st53{fill:#A7B5AC;}
.st54{fill:#6A7C70;}
.st55{fill:#3A4C41;}
.st56{fill:#506257;}
.st57{fill:#8E9E92;}
.st58{fill:#7D8F84;}
.st59{fill:#687A6E;}
.st60{fill:#495B50;}
.st61{fill:#36463C;}
.st62{fill:#4F6056;}
.st63{fill:#4D5F54;}
.st64{fill:#63756A;}
.st65{fill:#DBE1DC;}
.st66{fill:#A4B2A8;}
.st67{fill:#36463C;}
.st68{fill:transparent;}
.st69{fill:#9CAAA0;}
.st70{fill:#86978C;}
.st71{fill:#324137;}
.st72{fill:#AAB7AE;}
.st73{fill:#53645A;}
.st74{fill:#1C2922;}
.st75{fill:#A6B4A9;}
.st76{fill:#84958A;}
.st77{fill:#93A297;}
.st78{fill:#E6EBE7;}
.st79{fill:#C9D3CC;}
.st80{fill:#DFE4E0;}
.st81{fill:#C0CABE;}
.st82{fill:#8D9E92;}
.st83{fill:#415248;}
.st84{fill:#334238;}
.st85{fill:#36463B;}
.st86{fill:#3D4E43;}
.st87{fill:#4F6056;}
.st88{fill:#36463B;}
.st89{fill:#4A5C50;}
.st90{fill:#44554A;}
.st91{fill:#3B4C41;}
.st92{fill:#4B5D51;}
.st93{fill:#44554A;}
.st94{fill:#3C4D42;}
.st95{fill:#A0AD9F;}
.st96{fill:#334238;}
.st97{fill:#35443A;}
.st98{fill:#8F9EA3;}
.st99{fill:#C2CABE;}
.st100{fill:#B1BDB3;}
.st101{fill:#4F6056;}
.st102{fill:#334238;}
.st103{fill:#24312A;}
.st104{fill:#303E34;}
.st105{fill:#222F27;}
.st106{fill:#344439;}
.st107{fill:#334238;}
.st108{fill:#324137;}
.st109{fill:#38483D;}
.st110{fill:#2F3E34;}
.st111{fill:#2D3C32;}
.st112{fill:#3A4B41;}
.st113{fill:#334238;}
.st114{fill:#35443A;}
.st115{fill:#35443A;}
.st116{fill:#425248;}
.st117{fill:#526359;}
.st118{fill:#3B4C41;}
.st119{fill:#2A392F;}
.st120{fill:#3E4E44;}
.st121{fill:#35443A;}
.st122{fill:#46574C;}
.st123{fill:#C5CECA;}
.st124{fill:#314036;}
.st125{fill:#2D3C32;}
.st126{fill:#2B3A2F;}
.st127{fill:#324137;}
.st128{fill:#324137;}
.st129{fill:#D8DFD9;}
.st130{fill:#516258;}
.st131{fill:#394A40;}
.st132{fill:#CAD2CD;}
.st133{fill:#4E5F55;}
.st134{fill:#415248;}
.st135{fill:#3B4C41;}
.st136{fill:#788A7F;}
.st137{fill:#26342B;}
.st138{fill:#1E2B24;}
.st139{display: none; fill:none;stroke:transparent;stroke-width:2;stroke-miterlimit:10;}
.st140{fill:#495B50;}
.st141{fill:#25332A;}
.st142{fill:#516258;}
.st143{fill:#324137;}
.st144{fill:#3F5046;}
.st145{fill:#4C5E53;}
.st146{fill:#7C8E83;}
.st147{fill:#4F6056;}
.st148{fill:#A4B0A7;}
.st149{fill:#798B7F;}
.st150{fill:#7B8D82;}
.st151{fill:#BEC9C0;}
.st152{fill:#46574C;}
.st153{fill:#798B7F;}
.st154{fill:#62746A;}
.st155{fill:#BEC9C0;}
.st156{fill:#1E2B24;}
.st157{fill:#526459;}
.st158{fill:#8CA093;}
.st159{fill:#687A6E;}
.st160{fill:#4B5D51;}
.st161{fill:#5D6F64;}
.st162{fill:#56675C;}
.st163{fill:#6B7D72;}
.st164{fill:#516258;}
.st165{fill:#55665C;}
.st166{fill:#728479;}
.st167{fill:#8F9F94;}
.st168{fill:#63756A;}
.st169{fill:#586A5F;}
.st170{fill:#92A196;}
.st171{fill:#A2B0A6;}
.st172{fill:#C1CDC3;}
.st173{fill:#303F35;}
.st174{fill:#A1AF95;}
.st175{fill:#98A79C;}
.st176{fill:#3B4C41;}
.st177{fill:#586A5F;}
.st178{fill:#8F9F94;}
.st179{fill:#C7D1CA;}
.st180{fill:#B5C2B7;}
.st181{fill:#C0CCBF;}
.st182{fill:#53645A;}
.st183{fill:#84958B;}
.st184{fill:#35443A;}
.st185{fill:#A8B5AB;}
.st186{fill:#35443A;}
.st187{fill:#B2BEB4;}
.st188{fill:#8D9E92;}
.st189{fill:#56675C;}
.st190{fill:#4A5F51;}
.st191{fill:#485A4F;}
.st192{fill:transparent;}
.st193{fill:#425248;}
.st194{fill:#4A5C50;}
.st195{fill:#4B5D51;}
.st196{fill:#25332A;}
.st197{fill:#394A3F;}
.st198{fill:#516258;}
.st199{fill:#4E5F55;}
.st200{fill:#38483D;}
.st201{fill:#35443A;}
.st202{fill:#212E26;}
.st203{fill:#344439;}
.st204{fill:#1E2B24;}
.st205{fill:#334238;}
.st206{fill:#3C4D42;}
.st207{fill:#303E34;}
.st208{fill:#303E34;}
.st209{fill:#394A40;}
.st210{fill:#495B50;}
.st211{fill:#1C2922;}
.st212{fill:#8E9F93;}
.st213{fill:#1D2A22;}
.st214{fill:#334238;}
.st215{fill:#38483D;}
.st216{fill:#66786C;}
.st217{fill:#415248;}
.st218{fill:#3A4C40;}
.st219{fill:#A9B8AD;}
.st220{fill:#53645A;}
.st221{fill:#314036;}
.st222{fill:#3B4C41;}
.st223{fill:#2D3C32;}
.st224{fill:#324137;}
.st225{fill:#29372E;}
.st226{fill:#35443A;}
.st227{fill:transparent;}
.st228{fill:#2C3B30;}
.st229{fill:#303E34;}
.st230{fill:#2E3D33;}
.st231{fill:#233028;}
.st232{fill:#35443A;}
.st233{fill:#35443A;}
.st234{fill:#86978C;}
.st235{fill:#2D3C32;}
.st236{fill:#35443A;}
.st237{fill:#AAB8AD;}
.st238{fill:#4E5F55;}
.st239{fill:#B2BEB4;}
.st240{fill:#A3B0A5;}
.st241{fill:#35443A;}
.st242{fill:#2B392F;}
.st243{fill:#AAC5BO;}
.st244{fill:#64766B;}
.st245{fill:#D5DCD6;}
.st246{fill:#90A094;}
.st247{fill:#86978C;}
.st248{fill:#8E9E92;}
.st249{fill:#627469;}
.st250{fill:#64766B;}
.st251{fill:#CED7CE;}
.st252{fill:#93A297;}
.st253{fill:#394A3F;}
.st254{fill:#303E34;}
.st255{fill:#697B6F;}
.st256{fill:#B1BDB3;}
.st257{fill:#36463B;}
.st258{fill:#74867A;}
.st259{fill:#85968B;}
.st260{fill:#8F9F94;}
.st261{fill:#92A196;}
.st262{fill:#54655B;}
.st263{fill:#5D6F64;}
.st264{fill:#5B6D62;}
.st265{fill:#3D4E43;}
.st266{fill:#5A6C61;}
.st267{fill:#AAB8AD;}
.st268{fill:#ADBCAE;}
.st269{fill:#91A095;}
.st270{fill:#B0BDB2;}
.st271{fill:#76887D;}
.st272{fill:#415248;}
.st273{fill:#3E5247;}
.st274{fill:#2A392F;}
.st275{fill:#3E5247;}
.st276{fill:#36463B;}
.st277{fill:#394A3F;}
.st278{fill:transparent;}
.st279{fill:#526359;}
.st280{fill:#35443A;}
.st281{fill:#28362D;}
.st282{fill:#8D9E92;}
.st283{fill:#9DAEA2;}
.st284{fill:#8D9E92;}
.st285{fill:#425248;}
.st286{fill:#48594E;}
.st287{fill:#36463C;}
.st288{fill:#55665C;}
.st289{fill:#A0AFA3;}
.st290{fill:#3F4F45;}
.st291{fill:#495B50;}
.st292{fill:#66786C;}
.st293{fill:#43554A;}
.st294{fill:#4E5F55;}
.st295{fill:#425248;}
.st296{fill:#425248;}
.st297{fill:#627469;}
.st298{fill:#57695D;}
.st299{fill:#2E3D33;}
.st300{fill:#46574C;}
.st301{fill:transparent;}
.st302{fill:#526359;}
.st303{fill:#202D25;}
.st304{fill:#8F9F94;}
.st305{fill:#5A6C61;}
.st306{fill:#67796D;}
.st307{fill:#516258;}
.st308{fill:#506157;}
.st309{fill:#617369;}
.st310{fill:#586A5F;}
.st311{fill:#425248;}
.st312{fill:#526359;}
.st313{fill:#3D4E43;}
.st314{fill:#324137;}
.st315{fill:#3A4B41;}
.st316{fill:#394A3F;}
.st317{fill:#314036;}
.st318{fill:#4F6056;}
.st319{fill:#334238;}
.st320{fill:#4E5F55;}
.st321{fill:#516258;}
.st322{fill:#B2BEB4;}
.st323{fill:#47594D;}
.st324{fill:#819287;}
.st325{fill:#38483D;}
.st326{fill:#344439;}
.st327{fill:#394A3F;}
.st328{fill:#931F15;} /*vein*/
.st329{fill:#44554A;}
.st330{fill:#1C2922;}
.st331{fill:#425248;}
.st332{fill:#35443A;}
.st333{fill:#4A5B4F;}
.st334{fill:#495A4E;}
.st335{fill:#4E5F55;}
.st336{fill:#35443A;}
.st337{fill:#4E5F55;}
.st338{fill:#5A6C61;}
.st339{fill:#DFE4E0;}
.st340{fill:#3C4D42;}
.st341{fill:#516258;}
.st342{fill:#425248;}
.st343{fill:#A5B2A7;}
.st344{fill:#BCC7BE;}
.st345{fill:#3E4E44;}
.st346{fill:#85968B;}
.st347{fill:#74867A;}
.st348{fill:#8F9F94;}
.st349{fill:#5D6F64;}
.st350{fill:#4F6056;}
.st351{fill:#425248;}
.st352{fill:#64766B;}
.st353{fill:#324137;}
.st354{fill:#1C2922;}
.st355{fill:none;}


 .low-poly {
  z-index: 200;
  transform-origin: center;
  animation: pulse-grow-main 0s ease-in-out 4s infinite alternate; /* 0.8*/
  opacity: 1;
 }


.low-poly * {
 animation: fill-ani 2s ease-in 3s backwards, pulse-grow-main 0s ease-out 0s infinite alternate;
   stroke:transparent;
  stroke-width:1px;
  fill-opacity:1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  transform-origin: 50%;

}

@keyframes fill-ani {
  from {
    fill-opacity:0;
    stroke:#931F15;
    stroke-width:1px;
    stroke-dashoffset: 2000;
    }
}

/* TOP RIGHT */
.st24, .st25, .st26, .st27, .st29, .st31, .st37, .st40, .st43, .st112, .st130, .st133, .st134, .st135, .st140, .st144, .st145, .st147, .st157, .st189, .st190, .st191, .st197, .st340, .st341, .st342, .st343, .st344, .st345 {
   transform-origin: center;
    animation: fill-ani 2s ease-in 2.5s backwards, pulse-grow-top .5s ease-in-out 3.5s infinite alternate;
  display: block;

}

.st190 {
    animation: fill-ani 2s ease-in 2.5s backwards, pulse-grow-top-192 .5s ease-in-out 3.5s infinite alternate;
}
/* TOP RIGHT */


/* TOP LEFT */
.st94, .st102, .st104, .st209, .st215, .st216, .st217, .st221, .st254, .st257, .st272, .st273, .st274, .st275, .st276, .st277, .st279, .st280, .st281, .st285, .st290, .st291, .st292, .st293, .st295, .st299, .st312, .st319, .st325, .st327, .st331, .st335 {
    transform-origin: center;
    animation: fill-ani 2s ease-in 2s backwards, pulse-grow-top .5s ease-in-out 3s infinite alternate;
  display: block;
}
/* TOP LEFT */


/* BOTTOM */
.st84, .st85, .st86, .st87, .st88, .st89, .st90, .st91, .st92, .st93, .st96, .st106, .st107, .st108, .st109, .st110, .st111, .st113, .st116, .st119, .st120, .st122, .st124, .st125, .st126, .st127, .st128, .st152, .st154, .st159, .st160, .st161, .st162, .st163, .st164, .st165, .st168, .st169, .st194, .st195, .st210, .st212, .st214, .st218, .st220, .st222, .st223, .st224, .st225, .st226, .st228, .st229, .st230, .st231, .st253, .st262, .st263, .st264, .st265, .st266, .st289, .st294, .st296, .st297, .st298, .st300, .st302, .st304, .st305, .st306, .st307, .st308, .st309, .st310, .st311, .st313, .st314, .st316, .st317, .st318, .st320, .st321, .st322, .st323, .st326, .st329, .st349, .st350, .st351, .st352, .st353 {
   transform-origin: center;
    animation: fill-ani 2s ease-in 3s backwards, pulse-grow-bottom .5s ease-in-out 3s infinite alternate;
  display: block;
}
/* BOTTOM */



/* Pulse Grow */
@keyframes pulse-grow-main {
  to {
   transform: scale(.996);

  }
}

@keyframes pulse-grow-top-192 {
  to {
   transform: scale(1.04);

  }
}

@keyframes pulse-grow-top {
  to {
    transform: scale(1.09);

  }
}

@keyframes pulse-grow-bottom {
  to {
    transform: scale(1.09);

  }
}


@keyframes opacity {
  from {
    stroke:transparent;
  stroke-width:1px;
  fill-opacity:0;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  }
}

.st211 {
   stroke:transparent;
  stroke-width:1px;
  fill-opacity:1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  animation: opacity 2s ease-in 3s backwards;

}

.st328 {
   stroke:transparent;
  stroke-width:1px;
  fill-opacity:1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  animation: opacity 2s ease-in 3s backwards;
}

.st146, .st167 {
  transform: scale(1.1);
  transform-origin: center;
  animation: fill-ani 2s ease-in 3s backwards;

}

.st256 {
  transform-origin: center;
  transform: scale(1.1);
  animation: fill-ani 2s ease-in 3s backwards;
}

.st149 {
  transform-origin: bottom;
  transform: scale(1.3);
  animation: fill-ani 2s ease-in 3s backwards;
}

.st347 {
  transform-origin: center;
  transform: scale(1.1);
  animation: fill-ani 2s ease-in 3s backwards;
}
