
.low-poly-heart-bg {
  position: fixed;
  z-index: -10;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.low-poly-heart-bg.visible {
  opacity: 1;
}

.low-poly-heart-bg svg {
  position: fixed;
  z-index: 200;
  height: 90%;
  width: 100%;
  left: 0;
  top: 5%;
}

.st0{display:none;}
.st1{fill:#FFE4E1;}
.st2{fill:#FFC0CB;}
.st3{fill:#FFF0F5;}
.st4{fill:#DB7093;}
.st5{fill:#FFB6C1;}
.st6{fill:#FF69B4;}
.st7{fill:#FFE4E1;}
.st8{fill:#FFE4E1;}
.st9{fill:#FFF0F5;}
.st10{fill:#C71585;}
.st11{fill:#8B0000;}
.st12{fill:#FFDAB9;}
.st13{fill:#FFE4E1;}
.st14{fill:#CD5C5C;}
.st15{fill:#FFF5EE;}
.st16{fill:#B22222;}
.st17{fill:#FFFAFA;}
.st18{fill:#FFE4E1;}
.st19{fill:transparent;}
.st20{fill:#FFDAB9;}
.st21{fill:#FFF0F5;}
.st22{fill:#DC143C;}
.st23{fill:#FFF5EE;}
.st24{fill:#A52A2A;}
.st25{fill:#F08080;}
.st26{fill:#E9967A;}
.st27{fill:#FA8072;}
.st28{fill:#45001A;}
.st29{fill:#CD5C5C;}
.st30{fill:#45001A;}
.st31{fill:#D87093;}
.st32{fill:#FF69B4;}
.st33{fill:#FF1493;}
.st34{fill:#FFB6C1;}
.st35{fill:#B22222;}
.st36{fill:#DC143C;}
.st37{fill:#C71585;}
.st38{fill:#8B0000;}
.st39{fill:#A52A2A;}
.st40{fill:#E9967A;}
.st41{fill:#F08080;}
.st42{fill:#CD5C5C;}
.st43{fill:#DB7093;}
.st44{fill:#FF69B4;}
.st45{fill:#B22222;}
.st46{fill:#FFC0CB;}
.st47{fill:#FFB6C1;}
.st48{fill:#FFDAB9;}
.st49{fill:#FFA07A;}
.st50{fill:#FF7F50;}
.st51{fill:#FFF5EE;}
.st52{fill:#FFE4E1;}
.st53{fill:#FFC0CB;}
.st54{fill:#CD5C5C;}
.st55{fill:#A52A2A;}
.st56{fill:#B22222;}
.st57{fill:#FFDAB9;}
.st58{fill:#FF69B4;}
.st59{fill:#C71585;}
.st60{fill:#B22222;}
.st61{fill:#A52A2A;}
.st62{fill:#B22222;}
.st63{fill:#C71585;}
.st64{fill:#CD5C5C;}
.st65{fill:#FFFAFA;}
.st66{fill:#F08080;}
.st67{fill:#A52A2A;}
.st68{fill:transparent;}
.st69{fill:#FFE4E1;}
.st70{fill:#FFC0CB;}
.st71{fill:#8B0000;}
.st72{fill:#FFF0F5;}
.st73{fill:#B22222;}
.st74{fill:#45001A;}
.st75{fill:#FFDAB9;}
.st76{fill:#FFC0CB;}
.st77{fill:#FFA07A;}
.st78{fill:#FFF5EE;}
.st79{fill:#FFE4E1;}
.st80{fill:#FFF0F5;}
.st81{fill:#FFDAB9;}
.st82{fill:#FFC0CB;}
.st83{fill:#B22222;}
.st84{fill:#8B0000;}
.st85{fill:#A52A2A;}
.st86{fill:#B22222;}
.st87{fill:#CD5C5C;}
.st88{fill:#A52A2A;}
.st89{fill:#E9967A;}
.st90{fill:#B22222;}
.st91{fill:#A52A2A;}
.st92{fill:#FA8072;}
.st93{fill:#B22222;}
.st94{fill:#8B0000;}
.st95{fill:#FFB6C1;}
.st96{fill:#8B0000;}
.st97{fill:#A52A2A;}
.st98{fill:#FFDAB9;}
.st99{fill:#FFC0CB;}
.st100{fill:#FFE4E1;}
.st101{fill:#CD5C5C;}
.st102{fill:#8B0000;}
.st103{fill:#45001A;}
.st104{fill:#8B0000;}
.st105{fill:#45001A;}
.st106{fill:#A52A2A;}
.st107{fill:#8B0000;}
.st108{fill:#8B0000;}
.st109{fill:#A52A2A;}
.st110{fill:#8B0000;}
.st111{fill:#8B0000;}
.st112{fill:#B22222;}
.st113{fill:#8B0000;}
.st114{fill:#A52A2A;}
.st115{fill:#A52A2A;}
.st116{fill:#B22222;}
.st117{fill:#CD5C5C;}
.st118{fill:#A52A2A;}
.st119{fill:#8B0000;}
.st120{fill:#B22222;}
.st121{fill:#A52A2A;}
.st122{fill:#B22222;}
.st123{fill:#FFE4E1;}
.st124{fill:#8B0000;}
.st125{fill:#8B0000;}
.st126{fill:#8B0000;}
.st127{fill:#8B0000;}
.st128{fill:#8B0000;}
.st129{fill:#FFFAFA;}
.st130{fill:#CD5C5C;}
.st131{fill:#A52A2A;}
.st132{fill:#FFE4E1;}
.st133{fill:#DB7093;}
.st134{fill:#B22222;}
.st135{fill:#A52A2A;}
.st136{fill:#FF69B4;}
.st137{fill:#45001A;}
.st138{fill:#45001A;}
.st139{display: none; fill:none;stroke:transparent;stroke-width:2;stroke-miterlimit:10;}
.st140{fill:#B22222;}
.st141{fill:#45001A;}
.st142{fill:#CD5C5C;}
.st143{fill:#8B0000;}
.st144{fill:#A52A2A;}
.st145{fill:#C71585;}
.st146{fill:#FF69B4;}
.st147{fill:#CD5C5C;}
.st148{fill:#FFB6C1;}
.st149{fill:#FF69B4;}
.st150{fill:#FF1493;}
.st151{fill:#FFE4E1;}
.st152{fill:#B22222;}
.st153{fill:#FF69B4;}
.st154{fill:#DC143C;}
.st155{fill:#FFE4E1;}
.st156{fill:#45001A;}
.st157{fill:#CD5C5C;}
.st158{fill:#FFA07A;}
.st159{fill:#C71585;}
.st160{fill:#FA8072;}
.st161{fill:#DB7093;}
.st162{fill:#CD5C5C;}
.st163{fill:#E9967A;}
.st164{fill:#CD5C5C;}
.st165{fill:#C71585;}
.st166{fill:#F08080;}
.st167{fill:#FFA07A;}
.st168{fill:#CD5C5C;}
.st169{fill:#DB7093;}
.st170{fill:#FFA07A;}
.st171{fill:#FFB6C1;}
.st172{fill:#FFE4E1;}
.st173{fill:#8B0000;}
.st174{fill:#FFDAB9;}
.st175{fill:#FFA07A;}
.st176{fill:#A52A2A;}
.st177{fill:#DB7093;}
.st178{fill:#FFA07A;}
.st179{fill:#FFE4E1;}
.st180{fill:#FFC0CB;}
.st181{fill:#FFDAB9;}
.st182{fill:#CD5C5C;}
.st183{fill:#FFC0CB;}
.st184{fill:#A52A2A;}
.st185{fill:#FFC0CB;}
.st186{fill:#A52A2A;}
.st187{fill:#FFE4E1;}
.st188{fill:#FFC0CB;}
.st189{fill:#CD5C5C;}
.st190{fill:#FA8072;}
.st191{fill:#E9967A;}
.st192{fill:transparent;}
.st193{fill:#B22222;}
.st194{fill:#E9967A;}
.st195{fill:#FA8072;}
.st196{fill:#45001A;}
.st197{fill:#A52A2A;}
.st198{fill:#CD5C5C;}
.st199{fill:#DB7093;}
.st200{fill:#A52A2A;}
.st201{fill:#A52A2A;}
.st202{fill:#45001A;}
.st203{fill:#A52A2A;}
.st204{fill:#45001A;}
.st205{fill:#8B0000;}
.st206{fill:#8B0000;}
.st207{fill:#8B0000;}
.st208{fill:#8B0000;}
.st209{fill:#A52A2A;}
.st210{fill:#B22222;}
.st211{fill:#45001A;}
.st212{fill:#FFA07A;}
.st213{fill:#45001A;}
.st214{fill:#8B0000;}
.st215{fill:#A52A2A;}
.st216{fill:#C71585;}
.st217{fill:#B22222;}
.st218{fill:#A52A2A;}
.st219{fill:#FFC0CB;}
.st220{fill:#CD5C5C;}
.st221{fill:#8B0000;}
.st222{fill:#A52A2A;}
.st223{fill:#8B0000;}
.st224{fill:#8B0000;}
.st225{fill:#45001A;}
.st226{fill:#A52A2A;}
.st227{fill:transparent;}
.st228{fill:#8B0000;}
.st229{fill:#8B0000;}
.st230{fill:#8B0000;}
.st231{fill:#45001A;}
.st232{fill:#A52A2A;}
.st233{fill:#A52A2A;}
.st234{fill:#FFC0CB;}
.st235{fill:#8B0000;}
.st236{fill:#A52A2A;}
.st237{fill:#FFC0CB;}
.st238{fill:#DB7093;}
.st239{fill:#FFE4E1;}
.st240{fill:#FFB6C1;}
.st241{fill:#A52A2A;}
.st242{fill:#8B0000;}
.st243{fill:#FFDAB9;}
.st244{fill:#C71585;}
.st245{fill:#FFF0F5;}
.st246{fill:#FFA07A;}
.st247{fill:#FFC0CB;}
.st248{fill:#FFDAB9;}
.st249{fill:#C71585;}
.st250{fill:#C71585;}
.st251{fill:#FFE4E1;}
.st252{fill:#FFA07A;}
.st253{fill:#A52A2A;}
.st254{fill:#8B0000;}
.st255{fill:#E9967A;}
.st256{fill:#FFE4E1;}
.st257{fill:#A52A2A;}
.st258{fill:#F08080;}
.st259{fill:#FFC0CB;}
.st260{fill:#FFA07A;}
.st261{fill:#FFB6C1;}
.st262{fill:#CD5C5C;}
.st263{fill:#DB7093;}
.st264{fill:#DB7093;}
.st265{fill:#B22222;}
.st266{fill:#DC143C;}
.st267{fill:#FFC0CB;}
.st268{fill:#FFE4E1;}
.st269{fill:#FFA07A;}
.st270{fill:#FFE4E1;}
.st271{fill:#F08080;}
.st272{fill:#B22222;}
.st273{fill:#A52A2A;}
.st274{fill:#8B0000;}
.st275{fill:#A52A2A;}
_276{fill:#A52A2A;}
.st277{fill:#A52A2A;}
.st278{fill:transparent;}
.st279{fill:#CD5C5C;}
.st280{fill:#A52A2A;}
.st281{fill:#45001A;}
.st282{fill:#FFC0CB;}
.st283{fill:#FFE4E1;}
.st284{fill:#FFC0CB;}
.st285{fill:#B22222;}
.st286{fill:#E9967A;}
.st287{fill:#A52A2A;}
.st288{fill:#CD5C5C;}
.st289{fill:#FFB6C1;}
_290{fill:#A52A2A;}
.st291{fill:#B22222;}
.st292{fill:#C71585;}
.st293{fill:#B22222;}
.st294{fill:#DB7093;}
.st295{fill:#B22222;}
.st296{fill:#B22222;}
.st297{fill:#DC143C;}
.st298{fill:#CD5C5C;}
.st299{fill:#8B0000;}
.st300{fill:#B22222;}
.st301{fill:transparent;}
.st302{fill:#CD5C5C;}
.st303{fill:#45001A;}
.st304{fill:#FFA07A;}
.st305{fill:#DC143C;}
.st306{fill:#E9967A;}
.st307{fill:#CD5C5C;}
.st308{fill:#C71585;}
.st309{fill:#DC143C;}
.st310{fill:#DB7093;}
.st311{fill:#B22222;}
.st312{fill:#CD5C5C;}
.st313{fill:#B2222s1f;}
.st314{fill:#8B0000;}
.st315{fill:#A52A2A;}
.st316{fill:#A52A2A;}
.st317{fill:#8B0000;}
.st318{fill:#CD5C5C;}
.st319{fill:#8B0000;}
.st320{fill:#DB7093;}
.st321{fill:#CD5C5C;}
.st322{fill:#FFE4E1;}
.st323{fill:#E9967A;}
.st324{fill:#FFC0CB;}
.st325{fill:#A52A2A;}
.st326{fill:#A52A2A;}
.st327{fill:#A52A2A;}
.st328{fill:#931F15;} /*vein*/
.st329{fill:#B22222;}
.st330{fill:#45001A;}
.st331{fill:#B22222;}
.st332{fill:#A52A2A;}
.st333{fill:#B22222;}
.st334{fill:#B22222;}
.st335{fill:#DB7093;}
.st336{fill:#A52A2A;}
.st337{fill:#DB7093;}
.st338{fill:#DC143C;}
.st339{fill:#FFF0F5;}
.st340{fill:#8B0000;}
.st341{fill:#CD5C5C;}
.st342{fill:#B22222;}
.st343{fill:#FFC0CB;}
.st344{fill:#FFE4E1;}
.st345{fill:#B22222;}
.st346{fill:#FFC0CB;}
.st347{fill:#F08080;}
.st348{fill:#FFA07A;}
.st349{fill:#DB7093;}
.st350{fill:#CD5C5C;}
.st351{fill:#B22222;}
.st352{fill:#C71585;}
.st353{fill:#8B0000;}
.st354{fill:#45001A;}
.st355{fill:none;}


 .low-poly {
  z-index: 200;
  transform-origin: center;
  animation: pulse-grow-main 0s ease-in-out 4s infinite alternate; /* 0.8*/
  opacity: 1;
 }


.low-poly * {
 animation: fill-ani 2s ease-in 3s backwards, pulse-grow-main 0s ease-out 0s infinite alternate;
   stroke:transparent;
  stroke-width:1px;
  fill-opacity:1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  transform-origin: 50%;

}

@keyframes fill-ani {
  from {
    fill-opacity:0;
    stroke:#931F15;
    stroke-width:1px;
    stroke-dashoffset: 2000;
    }
}

/* TOP RIGHT */
.st24, .st25, .st26, .st27, .st29, .st31, .st37, .st40, .st43, .st112, .st130, .st133, .st134, .st135, .st140, .st144, .st145, .st147, .st157, .st189, .st190, .st191, .st197, .st340, .st341, .st342, .st343, .st344, .st345 {
   transform-origin: center;
    animation: fill-ani 2s ease-in 2.5s backwards, pulse-grow-top .5s ease-in-out 3.5s infinite alternate;
  display: block;

}

.st190 {
    animation: fill-ani 2s ease-in 2.5s backwards, pulse-grow-top-192 .5s ease-in-out 3.5s infinite alternate;
}
/* TOP RIGHT */


/* TOP LEFT */
.st94, .st102, .st104, .st209, .st215, .st216, .st217, .st221, .st254, .st257, .st272, .st273, .st274, .st275, .st276, .st277, .st279, .st280, .st281, .st285, .st290, .st291, .st292, .st293, .st295, .st299, .st312, .st319, .st325, .st327, .st331, .st335 {
    transform-origin: center;
    animation: fill-ani 2s ease-in 2s backwards, pulse-grow-top .5s ease-in-out 3s infinite alternate;
  display: block;
}
/* TOP LEFT */


/* BOTTOM */
.st84, .st85, .st86, .st87, .st88, .st89, .st90, .st91, .st92, .st93, .st96, .st106, .st107, .st108, .st109, .st110, .st111, .st113, .st116, .st119, .st120, .st122, .st124, .st125, .st126, .st127, .st128, .st152, .st154, .st159, .st160, .st161, .st162, .st163, .st164, .st165, .st168, .st169, .st194, .st195, .st210, .st212, .st214, .st218, .st220, .st222, .st223, .st224, .st225, .st226, .st228, .st229, .st230, .st231, .st253, .st262, .st263, .st264, .st265, .st266, .st289, .st294, .st296, .st297, .st298, .st300, .st302, .st304, .st305, .st306, .st307, .st308, .st309, .st310, .st311, .st313, .st314, .st316, .st317, .st318, .st320, .st321, .st322, .st323, .st326, .st329, .st349, .st350, .st351, .st352, .st353 {
   transform-origin: center;
    animation: fill-ani 2s ease-in 3s backwards, pulse-grow-bottom .5s ease-in-out 3s infinite alternate;
  display: block;
}
/* BOTTOM */



/* Pulse Grow */
@keyframes pulse-grow-main {
  to {
   transform: scale(.996);

  }
}

@keyframes pulse-grow-top-192 {
  to {
   transform: scale(1.04);

  }
}

@keyframes pulse-grow-top {
  to {
    transform: scale(1.09);

  }
}

@keyframes pulse-grow-bottom {
  to {
    transform: scale(1.09);

  }
}


@keyframes opacity {
  from {
    stroke:transparent;
  stroke-width:1px;
  fill-opacity:0;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  }
}

.st211 {
   stroke:transparent;
  stroke-width:1px;
  fill-opacity:1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  animation: opacity 2s ease-in 3s backwards;

}

.st328 {
   stroke:transparent;
  stroke-width:1px;
  fill-opacity:1;
  stroke-dasharray: 2000;
  stroke-dashoffset: 0 ;
  animation: opacity 2s ease-in 3s backwards;
}

.st146, .st167 {
  transform: scale(1.1);
  transform-origin: center;
  animation: fill-ani 2s ease-in 3s backwards;

}

.st256 {
  transform-origin: center;
  transform: scale(1.1);
  animation: fill-ani 2s ease-in 3s backwards;
}

.st149 {
  transform-origin: bottom;
  transform: scale(1.3);
  animation: fill-ani 2s ease-in 3s backwards;
}

.st347 {
  transform-origin: center;
  transform: scale(1.1);
  animation: fill-ani 2s ease-in 3s backwards;
}
