@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 20% 96%;
    --foreground: 90 5% 20%;
    --card: 0 0% 100%;
    --card-foreground: 90 5% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 90 5% 20%;
    --primary: 80 35% 45%;
    --primary-foreground: 60 40% 98%;
    --secondary: 70 20% 90%;
    --secondary-foreground: 90 5% 20%;
    --muted: 70 20% 94%;
    --muted-foreground: 90 5% 45%;
    --accent: 75 30% 70%;
    --accent-foreground: 90 5% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 20% 85%;
    --input: 80 20% 85%;
    --ring: 80 35% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 90 5% 10%;
    --foreground: 70 20% 94%;
    --card: 90 5% 10%;
    --card-foreground: 70 20% 94%;
    --popover: 90 5% 10%;
    --popover-foreground: 70 20% 94%;
    --primary: 80 35% 45%;
    --primary-foreground: 60 40% 98%;
    --secondary: 80 10% 20%;
    --secondary-foreground: 70 20% 94%;
    --muted: 80 10% 20%;
    --muted-foreground: 70 10% 60%;
    --accent: 80 15% 30%;
    --accent-foreground: 70 20% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 10% 25%;
    --input: 80 10% 25%;
    --ring: 80 35% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
